@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  background: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
  margin: 15px 0 0 0;
  font-size: 1.5rem;
}

span {
  font-size: 1.1rem;
}

.social-box .box {
  background: #FFF;
  border-radius: 10px;
  padding: 40px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.social-box .box .box-title {
  margin-top: 20px;
}

.social-box .box:hover {
  box-shadow: 0 0 6px #4183D7;
}

.social-box .box .box-text {
  margin: 20px 0px;
  font-size: 15px;
  line-height: 30px;
}

.social-box .box .box-btn a {
  text-decoration: none;
  color: #4183D7;
  font-size: 16px;
}

.fa {
  color: #ff9f1a;
}

.fu {
  color: #ff5656;
}

.busicon {
  color: #4183D7;
}

.time0 {
  color: orange;
}

.time1 {
  color: #4183D7;
}

.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #67c5ff;
  margin: 0 auto;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.btn-border-bottom:hover {
  text-decoration: none;
  color: #23a4f4;
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top: 100%;
  left: 0;
  border-radius: 3px;
  background: #67c5ff;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}
